<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>
    <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" style="margin-top: 20px">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5"  th:style="'background-image: url(' + @{'/recipe/image/' + ${recipe.id}} + ');
        background-size: 30%;background-repeat: no-repeat;background-position: right;'">
            <h1 class="display-5 fw-bold col-md-10" th:text="${recipe.description}">Recipe Title</h1>
            <p class="col-md-8 fs-4"  th:text="${recipe.notes.recipeNotes}">Recipe Note</p>
            <div class="col-md-1">
                <a class="btn btn-default" href="#"
                   th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
            </div>
        </div>
    </div>
    <div class="p-5 mb-4 border rounded-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Categories:</h5>
            </div>
            <div class="col-md-3">
                <ul>
                    <li th:remove="all">cat one</li>
                    <li th:remove="all">cat two</li>
                    <li th:each="category : ${recipe.categories}"
                        th:text="${category.getDescription()}">cat three
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Prep Time:</h5>
            </div>
            <div class="col-md-3">
                <p th:text="${(recipe.prepTime) +  '  Min'}">30 min</p>
            </div>
            <div class="col-md-3">
                <h5>Difficulty:</h5>
            </div>
            <div class="col-md-3">
                <p th:text="${recipe.difficulty}">Easy</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Cooktime:</h5>
            </div>
            <div class="col-md-3">
                <p th:text="${(recipe.cookTime  +  '  Min')}">30 min</p>
            </div>
            <div class="col-md-3">
                <h5>Servings:</h5>
            </div>
            <div class="col-md-3">
                <p th:text="${recipe.servings}">4</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Source:</h5>
            </div>
            <div class="col-md-3">
                <p th:text="${recipe.source}">30 min</p>
            </div>
            <div class="col-md-3">
                <h5>URL:</h5>
            </div>
            <div class="col-md-3">
                <p><a href="#" th:href="${recipe.url}" >View Original</a></p>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h1 class="card-title" >Ingredients</h1>
                <ul>
                    <li th:remove="all">1 Cup of milk</li>
                    <li th:remove="all">1 Teaspoon of chocolate</li>
                    <li th:each="ingredient : ${recipe.ingredients}"
                        th:text="${(ingredient.getAmount() +
                            ' ' + #strings.defaultString(ingredient.uom?.getDescription(), '') +
                            ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar</li>
                </ul>
                <a class="btn btn-outline-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h1 class="card-title" >Directions</h1>
                <p style="white-space: pre;" th:text="${recipe.directions}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>