<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
    <!-- CSS only -->
    <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">My Recipes!</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div th:each="recipe : ${recipes}" class="col recipe">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                 th:style="'background-image: url(' + @{'/recipe/image/' + ${recipe.id}} + ');background-size: 100%;'">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" th:text="${recipe.description}"/>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>